name: ClinicManagementSystem
description: "A Clinic Management System."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  crypto: ^3.0.3
  sqflite_common_ffi: ^2.3.6
  path_provider: ^2.1.5
  path: ^1.9.1
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
